<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
    <add name="EcoConcrete.My.MySettings.MaterialsConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=\\GCI-DACON-01\Ecoconcrete\Database\Materials.mdf;Integrated Security=True;Enlist=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Replication=False;Connect Timeout=30;User Instance=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
